<footer>
    <div class="content-padding">
       <div class="footer-content">
         <p>Copyright &copy: Iman Alaoui</p> 
         <div class="float-right">
            <a href="#">
             <i class="fab fa-empire"></i></a>
         <a href="#">
             <i class="fab fa-rebel"></i></a> 
         </div>
         
       </div> 
    </div>
</footer>